SDM120-MQTTNodeESP32D1-NodeRedFlow.json
[{"id":"7c481c3c20336b7b","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"08f5804babfcd983","type":"mqtt in","z":"7c481c3c20336b7b","name":"SDM120_MQTT_Node_01","topic":"SDM120_MQTT_Node_01/state","qos":"1","datatype":"json","broker":"98a72657b1ac3f6a","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":380,"wires":[["470f45cff80f7196","721a4defb6989c1a","5a4811ded6c6d97f","7d7f3b3f3fa3f72b","ace08ded8ffbf8cb"]]},{"id":"470f45cff80f7196","type":"function","z":"7c481c3c20336b7b","name":"Watts","func":"//Watts\nmsg.payload = msg.payload.W.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":580,"wires":[["1b972c8bbe7041ef"]],"info":"This function sets the format of each parameter sent by the inverter and assigns each on to a global variable.\r\nTherefore, you can either pass the msg.payload object directly to the next function or pick up inverter \r\nparameters in any function using something like:\r\n\r\nUsing the complete object...\r\n\r\nvar sofar2mqtt = global.get(\"sofar2mqtt\");\r\nvar batterySoc = sofar2mqtt.batterySoc;\r\n\r\nor use individual variables...\r\n\r\nvar batterySoc = global.get(\"sofarBatterySOC\");"},{"id":"721a4defb6989c1a","type":"function","z":"7c481c3c20336b7b","name":"Amps","func":"//Amps\nmsg.payload = msg.payload.A.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["ae89d750b66970f6"]],"info":"This function sets the format of each parameter sent by the inverter and assigns each on to a global variable.\r\nTherefore, you can either pass the msg.payload object directly to the next function or pick up inverter \r\nparameters in any function using something like:\r\n\r\nUsing the complete object...\r\n\r\nvar sofar2mqtt = global.get(\"sofar2mqtt\");\r\nvar batterySoc = sofar2mqtt.batterySoc;\r\n\r\nor use individual variables...\r\n\r\nvar batterySoc = global.get(\"sofarBatterySOC\");"},{"id":"5a4811ded6c6d97f","type":"function","z":"7c481c3c20336b7b","name":"Volts","func":"//Volts\nmsg.payload = msg.payload.V.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":420,"wires":[["fe2e3a97fca36484"]],"info":"This function sets the format of each parameter sent by the inverter and assigns each on to a global variable.\r\nTherefore, you can either pass the msg.payload object directly to the next function or pick up inverter \r\nparameters in any function using something like:\r\n\r\nUsing the complete object...\r\n\r\nvar sofar2mqtt = global.get(\"sofar2mqtt\");\r\nvar batterySoc = sofar2mqtt.batterySoc;\r\n\r\nor use individual variables...\r\n\r\nvar batterySoc = global.get(\"sofarBatterySOC\");"},{"id":"7d7f3b3f3fa3f72b","type":"debug","z":"7c481c3c20336b7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":300,"wires":[]},{"id":"fe2e3a97fca36484","type":"ha-entity","z":"7c481c3c20336b7b","name":"SDM120Volts","server":"6178e120.ea2bf","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"SDM120Volts"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":680,"y":420,"wires":[[]]},{"id":"ae89d750b66970f6","type":"ha-entity","z":"7c481c3c20336b7b","name":"SDM120Amps","server":"6178e120.ea2bf","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"SDM120Amps"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":680,"y":500,"wires":[[]]},{"id":"1b972c8bbe7041ef","type":"ha-entity","z":"7c481c3c20336b7b","name":"SDM120Watts","server":"6178e120.ea2bf","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"SDM120Watts"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":680,"y":580,"wires":[[]]},{"id":"37a204541c5a1cb8","type":"ha-entity","z":"7c481c3c20336b7b","name":"SDM120ExportWatts","server":"6178e120.ea2bf","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"SDM120ExportWatts"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":700,"y":660,"wires":[[]]},{"id":"ace08ded8ffbf8cb","type":"function","z":"7c481c3c20336b7b","name":"ExportWatts","func":"//Export Watts calculation\n\nvar Power = msg.payload.W;\nvar ExportPower;\n\nif (Power < 0 ) {\n    ExportPower = Math.abs(Power);\n    } else {\n    ExportPower = 0;\n}\n\nmsg.payload = ExportPower.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":660,"wires":[["37a204541c5a1cb8"]],"info":"This function sets the format of each parameter sent by the inverter and assigns each on to a global variable.\r\nTherefore, you can either pass the msg.payload object directly to the next function or pick up inverter \r\nparameters in any function using something like:\r\n\r\nUsing the complete object...\r\n\r\nvar sofar2mqtt = global.get(\"sofar2mqtt\");\r\nvar batterySoc = sofar2mqtt.batterySoc;\r\n\r\nor use individual variables...\r\n\r\nvar batterySoc = global.get(\"sofarBatterySOC\");"},{"id":"98a72657b1ac3f6a","type":"mqtt-broker","name":"Mosquitto","broker":"http://localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6178e120.ea2bf","type":"server","name":"Home Assistant","addon":true}]